# Authentication__ExternalProviders__0__ProviderKey=myIdentityProvider
# Authentication__ExternalProviders__0__Issuer=https://myIdentityProvider/
# Authentication__ExternalProviders__0__Audience=<client-id>
